body {
    background-color: rgb(28, 24, 25);
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    height: 100vh; /* Fylder hele skærmhøjden */
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    border: none;
    margin-top: 80px; /* Juster for at flytte knapperne tættere på billederne */
    display: flex;
    justify-content: center; /* Sørger for at de forbliver centrerede */
    gap: 50px; /* Reducerer afstanden mellem knapperne */
}

.buttons button {
    position: relative;
    margin-top: 20px;

    background: none;
    border: none;
    cursor: pointer;
}

#knap1 {
    rotate:5deg;
}

.button_image {
    position: absolute;
    top: 30px; /* Juster for at rykke den ned */
    left: 20px; /* Juster for at rykke den mod højre */
}

#arrow-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#arrow-button img {
    width: 50px; /* Juster størrelse efter behov */
    height: auto;
}

.image-wrapper {
    display: flex; /* Gør det muligt at placere elementer side om side */
    justify-content: center; /* Centrerer billederne vandret */
    align-items: center; /* Centrerer dem lodret */
    margin-top: 0px; /* Justér denne værdi for at flytte billederne ned */
    width: 395px;  /* Justér efter behov */
    height: 395px;
    border-radius: 50%; /* Gør den cirkelformet */
    overflow: hidden; /* Skjuler alt uden for cirklen */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff; /* Baggrundsfarve */
}

.image-container {
    position: relative;
    width: 400px; /* Sæt en fast bredde, så containerne ikke flytter sig */
    height: 400px; /* Sæt en fast højde */
    overflow: hidden; /* Sørger for, at billeder ikke stikker ud */
}

p {
    position: absolute;
    bottom: 15px;  /* Juster afstanden fra bunden */
    left: 50%;
    transform: translateX(-50%); /* Centrerer teksten */
    color: rgb(255, 255, 255); 
    opacity: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}